# Ignore cache directories and files
__pycache__/
*/__pycache__/
results/
.vscode/
CTG_parabolic/
delete/
results/
results_tests/
docs/_build/
docs/_autosummary/
docs/generated/

tmp.py
*.csv
.coverage
